.instruction ul {
    list-style-type: none;
}

.grid_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    width: 30rem;
    margin: 0 auto;
}

.grid_item {
    border: 1px solid #ccc;
    padding: 1rem;
    text-align: center;
}

.myBtn {
    padding: 1rem 2rem;
    margin: 1rem 0rem;
    cursor: pointer;
    display: inline-block;
}

.mySolutionBtn {
    padding: 1rem 2rem;
    cursor: pointer;
    display: inline-block;
}

.myBtn:hover {
    background-color: #eee;
}

.myInput {
    margin: 1rem 0rem;
    padding: 1rem 2rem;
    width: fit-content;
}

.no-bulletpoints {
    list-style-type: none;
}